<!-- Tech Stack Item Molecule Component -->
<div class="tech-stack-item flex items-start p-4 bg-white rounded-lg border border-gray-200 hover:border-blue-500 transition-colors duration-300">
  <div class="w-12 h-12 flex-shrink-0 mr-4">
    <img src="/src/images/tech-logo-placeholder.svg" alt="[Technology Name]" class="w-full h-full object-contain" />
  </div>
  <div>
    <h4 class="heading heading-5 mb-1">[Technology Name]</h4>
    <p class="paragraph paragraph-small">[Brief description of the technology and use case]</p>
  </div>
</div>
